<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Sistema Django
        {% endblock %}
    </title>
</head>

<body>

<header>

    <h1>Sistema de Despesas</h1>

    <nav>

        <a href="{% url 'inicio' %}">
            Início
        </a>

        |

        <a href="{% url 'sobre' %}">
            Sobre
        </a>

        {% if user.is_authenticated %}

            |

            <a href="{% url 'lista_despesas' %}">
                Despesas
            </a>

            |

            <a href="{% url 'lista_tops' %}">
                Tops
            </a>

            |

            <form
                action="{% url 'logout' %}"
                method="post"
                style="display:inline;"
            >
                {% csrf_token %}
                <button type="submit">
                    Sair
                </button>
            </form>

        {% else %}

            |

            <a href="{% url 'login' %}">
                Entrar
            </a>

            |

            <a href="{% url 'cadastrar_usuario' %}">
                cadastro
            </a>

        {% endif %}

    </nav>

    <hr>

</header>

<main>

    {% block content %}
    {% endblock %}

</main>

<footer>

    <hr>

</footer>

</body>
</html>