{% extends 'core/base.html' %}
{% block title %}Detalhes da Despesa{% endblock %}
{% block content %}
<h2>{{ despesa.nome }}</h2>
<p><strong>Descricao:</strong> {{ despesa.descricao }}</p>
<p><strong>Valor:</strong> {{ despesa.valor }}</p>

<p>
    <strong>Top:</strong>
    {{ despesa.top.nome }}
</p>

<p>
    <strong>É débito:</strong>

    {% if despesa.top.eh_debito %}
    Sim
    {% else %}
    Não
    {% endif %}
</p>

<p><strong>Data da Despesa:</strong> {{ despesa.data_da_despesa }}</p>
{% endblock %}